@font-face {
    font-family: breeSerifRegular;
    src: url('font/BreeSerif-Regular.otf');
}

@font-face {
    font-family: arvoRegular;
    src: url('font/Arvo-Regular.ttf');
}

@font-face {
    font-family: amaranthBold;
    src: url('font/Amaranth-Bold.otf');
}

body {
    background-color: #f5eedb;
}

.index-class {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.heading {
    flex: 1;
    font-family: amaranthBold;
    font-size: 1.2rem;
}

.subtitle-section {
    font-size: 1.5rem;
    font-family: arvoRegular;
}

.main-content {
    font-size: 1.2rem;
    margin-top: 20px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.urls {
    color: #337ab7;
    text-decoration: none;
}

.footer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px; 
}